.container{
	/* background-color: rgb(133, 161, 110); */
	border-radius: 5px;
	height: 100%;

}
/* 댓글 리스트 */
.wrapper{
	/* background-color: blueviolet; */
	width: 100%;
	height: 55vh;
	overflow-y: scroll;

}
.commentList{
	background-color: rgba(230, 227, 225, 0.365);
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 10px;
	white-space: pre-line;
	/* height: 100%; */
	/* overflow-y: scroll; */
}
.commentList div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	/* background-color: darkcyan; */

}
.commentItem {
	display: flex;
	margin-top: 10px;
}

.commentItem button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	margin-left: 5px;
	/* background-color: #f8e1a4; */
	background-color: #edc483;
	border-radius: 10px;
}
.commentItem button:hover{
	background-color: #ed936b;
}
.item{
	width: 80%;
	/* margin-bottom: 15px; */
	border-radius: 5px;
	font-size: 14px;
	background-color: #9ccfce;
}
.itemId{
	font-size: 12px;
	margin-right: 10px;
	/* background-color: #ed936b; */
	width: 50px;
}
.commentsBox{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.commentsBox input{
	width: 90%;
	padding: 15px;
	font-size: 14px;
	border-radius: 10px;
	margin: 0 auto;
	word-wrap: break-word;
	background-color: whitesmoke;
}
.commentsBox button{
	margin: 0 auto;
	padding: 5px;
	width: 8%;
	border-radius: 10px;
	font-size: 14px;
	background-color: #9ccfce;
}
.commentsBox button:hover{
	background-color: #ed936b;
	border-radius: 10px;

}
@media screen and (min-width: 414px)and (max-width: 700px){
	.container{
		width: 100%;
		height: 100%;
	}
	.wrapper{
		width: 100%;
		height: 50vh;
	}
	.commentsBox{
		margin-top: 10px;
	}
	.commentItem{
		word-wrap: break-word;
	}
	.commentItem p:nth-child(1){
		border: none;
		font-size: 14px;
	}
	.item{
		white-space: pre-wrap;
	}
	
}