/* @font-face {
    font-family: 'omyu_pretty';
    src: url('../fonts/오뮤_다예쁨체.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
} */
.container{
	width: 100%;
	height: 100%;
	text-align: center;
    font-size: 30px;
    padding-top: 5px;
    background-color: #e1eef6;
    /* margin: 0px 50px; */
	
}
.wrapper{
    margin: 0px 50px;
	background-color:#e1eef6;
    margin-top: 10px;
	font-size: 20px;
	/* height: 100%; */
	font-family: 'SUITE-Regular';

}
.postBox{
	padding: 5px;
	border-radius: 15px;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	/* height: 600px; */
	height: 100%;
	margin-top: 30px;
}
.BtnBox{
	display: flex;
	justify-content: flex-end;
	padding: 5px;
}
.BtnBox button{
	margin-left: 15px;
}
.BtnBox button:hover{
	background-color: blueviolet;
	color: white;
	width: 50px;
	border-radius: 5px;
}
/* .userId{
	display: flex;
	justify-content: flex-end;
	padding: 5px;
} */
.mainContents{
	height: 100%;
	display: flex;
	flex-direction: column;
}
.userPost{
	/* background-color: antiquewhite; */
	margin-bottom: 20px;
	/* height:100%; */
}
.userPost p {
	display: flex;
	justify-content: flex-start;
	padding: 5px;
}
/* .userPost p:nth-child(1){
	background-color: aquamarine;
	border-bottom: 2px solid gray;
	margin-bottom: 10px;
} */
.userPost .back{
	position: absolute;
	top:40px;
	left: 0px;
	width: 210px;
}
.userPost p:nth-child(1) {
	padding:  10px;
	/* background-color: #d8e1bd99; */
	border-radius: 3px;
	height: 100%;
	font-size: 14px;
	/* border-bottom: 1px solid gray; */
	/* 글자 정렬 하기 추가 */
	/* rgba(204, 204, 204, 0.488); */
}
.TitleId{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: rgb(67, 139, 0); */
	padding: 5px;
	border-bottom: 1px solid gray;
}
.TitleId .titleModify{
	margin-top: 10px;
	font-size: 20px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	height: 50px;
	width: 500px;
	padding-left: 10px;
	background-color: aliceblue;
	border-bottom: 1px solid gray;
	/* font-size: 18px; */
}
.TitleId .titleView p{
	font-size: 25px;
}
.TitleId input{
	width: 400px;
	margin-left: 10px;
	padding: 5px;
	background-color: aliceblue;
}
.quillBox div{
	height: 900px;
}
.userPost .showContent p{
	word-break: break-all;
	display: flex;
	justify-content: flex-start;
	font-size: 25px;
	height: 100%;
}
.comments{
	background-color: #6bcd1510;
	border-radius: 5px;
	height: 50%;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}
.userPost .comments p{
	display: flex;
	padding: 10px;
	font-size: 25px;

}
@media screen and (min-width: 414px) and (max-width: 700px){
	.container{
		background-color: #e1eef6;
		width: 100%;
		height: 100vh;
		text-align: center;
		font-size: 30px;
		padding-top: 0px;
		margin:  0px;
	}
	.wrapper{
		/* background-color: #376809; */
		margin: 10px 0px 5px 0px;
		font-size: 20px;
	}
	.postBox{
		/* padding: 5px; */
		padding-right: 5px;
		border-radius: 15px;
		background-color: rgba(220, 228, 192, 0.282);
		display: flex;
		flex-direction: column;
		height: 50;
	}
	.TitleId .titleView p{
		font-size: 20px;
	}
	.TitleId input{
		width: 200px;
		margin-left: 10px;
		padding: 5px;
		background-color: aliceblue;
	}
	.TitleId .titleModify{
		margin-top: 10px;
		font-size: 20px;
		display: flex;
		align-items: center;
		border-radius: 5px;
		height: 50px;
		width: 300px;
		padding-left: 10px;
		border-bottom: 1px solid gray;
		/* font-size: 18px; */
	}
	.comments{
		box-sizing: border-box;
		word-wrap: break-word;
		width: 100%;
	}
	.comments p {
	border-bottom: 1px solid gray;
	}
	.userPost .back{
		position: absolute;
		top: 15px;
		left: -10px;
	}
}

 /* 
const Wrapper = styled.div`
    background-color: #e1eef6;
    margin-top: 10px;
    width: 100%;
    height: 100vh;
    /* cursor: pointer; */
    /* position: relative; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    
/* `; */ 
