@font-face {
    font-family: 'omyu_pretty';
    src: url('../fonts/오뮤_다예쁨체.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.sub{
    font-family: 'omyu_pretty';
	font-size: 20px;
}