.container{
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    background-color: #e1eef6;
    margin: 0px 50px;
}    
    
.wrapper{
    width: 100%;
    padding: 15px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid gainsboro;
    border-radius: 15px;
    /* box-shadow: ; */
    padding: 10px;
    /* background-color: #fcbe32; */
    /* < 미디어쿼리에 넣기 */
    position: relative;
}
.backBtn{
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% -5px);
    left: 20px;
    background-color: #e1eef6;
    border: none;
    font-size: 30px;
    font-weight: 600;
    color: #004e66;
}
.backBtn:hover{
    color: #fcbe32;
}
.headTitle{
    /* margin-left: 10px; */
    font-size: 35px;
    display: flex;
    align-items: center;
    /* border: 2px solid darkblue; */
}
.homeBtn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% -5px);
    right: 20px;
    background-color: #e1eef6;
    border: none;
    font-weight: 600;
    color: #004e66;
}
.homeBtn:hover{
    color: #fcbe32;
}
.main{
    width: 100%;
    height: 100vh;
    border: 2px solid firebrick;
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    /* background-color: darkkhaki; */
}
.list{
    width: 90%;
    /* display: flex; */
    justify-content: space-between;   
    /* background-color: antiquewhite; */
    padding-top: 50px;
}

.list li{
    background-color: #ff5f2e	;
    border: 1px solid #e1eef6 ;
    border-radius: 15px;
    height: 10%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (min-width: 414px)and (max-width: 700px){
    .container{background-color: #e1eef6;
        width: 100%;
        height: 100vh;
        text-align: center;
        font-size: 30px;
        padding-top: 0px;
        margin:  0px;}
    .head{
        display: flex;
        width: 100%;
        height: 10%;
        margin: 0px auto 10px auto;
        padding: 5px;
        
    }
    .headTitle{
        font-size: 18px;
    }
    .main{
        margin-top: 0px;
    }
    .backBtn{
        width: 50px;
        height: 30px;
        position: absolute;
        top: calc(50% -5px);
        left: 0px;
        font-size: 30px;
        font-weight: 600;
        color: #004e66;
        border: none;
        background-color: #e1eef6;
    }
    .backBtn:hover, .homeBtn:hover{
        color: #fcbe32;

    }
    .homeBtn{
        width: 30px;
        height: 30px;
        position: absolute;
        top: calc(50% -5px);
        right: 10px;
        font-size: 30px;
        font-weight: 600;
        color: #004e66;
        border: none;
        background-color: #e1eef6;
    }
}
